@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: #603e8d;
  }

  header{
    width: 100%;
    height: 100%;
    padding: 28px 8%;
    background-color: #B388EB;
  }

  #nav-site{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B388EB;
  }

#nav-list{
   
    display: flex;
    list-style: none;
    gap: 48px;
    background-color: #B388EB;
}

.nav-item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.nav-item{
    background-color: #B388EB;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
    font-size: 17px;
}
.nav-item:hover{
    background-color: #d2b5f7;
}

#logo{
    color: #ffffff;
    font-size: 24px;
    background-color: #B388EB;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
}


#mobile-bnt{
    display: none;

}

#mobile-menu{
    display: none;
}

@media screen and (max-width: 500px) {
    #nav-list{
        display: none;
    }
    #mobile-bnt{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        color: #ffffff;
    }

    #mobile-menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mobile-nav-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }
    
    #mobile-nav-list .nav-item{
        list-style: none;
        text-align: center;
    }
}











main {
    padding: 2rem;
}

main section {
    margin-bottom: 2rem;
}

h1 {
    margin-bottom: 0.5rem;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    font-size:30px;
}

h2{
    margin-bottom: 0.5rem;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    font-size:30px;
}








  



